* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: steelblue;
    --secondary-color: white;
    --border-size: 1px; /*this seems unnecessary, but for the sake of the activity, I will add.*/
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    height: 45px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border-size) solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 115px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: var(--border-size) solid #000;
    text-align: center;
}

/* Class Selectors */

.box{
    margin: 1rem;
    border: var(--border-size) solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #ef9195ad;
    color: #000;
}