* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: steelblue;
    --secondary-color: white;
    --border-size: 1px; /* this seems unnecessary, but for the sake of the activity, I will add.*/
    --hover-link-color: #ef9195ad;
}

header, footer, .grid {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: center; /*change to center to keep links in the middle */
    gap: 20px; /* gap for spacing */
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 550;
}

nav a:hover {
    color: var(--hover-link-color);
}

/* class sector  */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start; /* aligns items to the top */
    gap: 1rem; /* space between the columns */
}

main {
    grid-column: 2; /* Second column */
    padding: 1rem;
    min-height: 300px; /* Adjust this height as needed */
}

h1 {
    color: var(--primary-color);
    border-bottom: var(--border-size) solid var(--primary-color);
    padding-bottom: 10px; /* Optional: adds space between text and border */
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border-size) solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    grid-column: 1; /* First column */
    padding: 1rem;
    min-height: 100px; /* Adjust this height as needed */
    width: 20rem;
    text-align: center;
    position: relative; 
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 115px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: var(--border-size) solid #000;
    text-align: center;
}

/* Class Selectors */

.box{
    display: grid;
    grid-template-columns: auto;
    margin: 1rem;
    border: var(--border-size) solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #ef9195ad;
    color: #000;
}